<mat-card *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</mat-card>
<main *ngIf="posts.length > 0 && !isLoading">
    <mat-card *ngFor="let post of posts">
        <mat-card-content>
            <mat-card-title>{{ post.creatorName }}</mat-card-title>
            <mat-card-subtitle>Project Creator</mat-card-subtitle>
        </mat-card-content>
        <mat-card-content>
            <mat-card-title>
                <h1>{{ post.title }}</h1>
            </mat-card-title>
            <mat-card-title></mat-card-title>
            <h4>{{ post.content }}</h4>
            <hr color="accent">
            <mat-card-subtitle>
                <h3>Project Status</h3><span>
                    <h1 style="color: red;">{{ post.projectStatus }}</h1>
                </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
                <h3>Estimated Budget</h3><span>
                    <h1>{{ post.cost }}</h1>
                </span>
            </mat-card-subtitle>
            <mat-card-subtitle>
                <h3>Collected</h3><span>
                    <h1>{{ post.collectedMoney }}</h1>
                </span>
                <hr color="accent">
            </mat-card-subtitle>
        </mat-card-content>
       
        <mat-card-title>
            <h1>My Donation</h1>
        </mat-card-title>
        <mat-list role="list" *ngFor="let user of post.donation">
            <mat-list-item role="listitem">
                <h3>{{ user.donated }}</h3>
            </mat-list-item>
        </mat-list>
       
    </mat-card>
</main>
<p class="mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No projects Added Yet!</p>
